@tailwind base;
@tailwind components;
@tailwind utilities;

/* Eliminar iconos automáticos del navegador en campos de contraseña */
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-strong-password-auto-fill-button {
  display: none !important;
  visibility: hidden !important;
  pointer-events: none !important;
  opacity: 0 !important;
}

/* Para otros navegadores */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}